/* // `xs` returns only a ruleset and no media query */
/* // ... { ... } */

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .hero-content h1 {
    font-size: 3rem;
    line-height: 3.75rem;
  }

  .hero-content h2 {
    font-size: 3rem;
    line-height: 3.75rem;
  }

  .local-counter {
    grid-template-columns: 1fr;
  }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .hero-content h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  .hero-content h2 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .marketing-section .paragraph {
    width: fit-content;
  }
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .hero-row {
    height: inherit;
  }

  .marketing-section .paragraph {
    width: 75%;
  }
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
