/* Custom font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Reset */
:root {
  --primary-color: #4caf4f;
  --section-color: #f5f7fa;
  --text-color: #4d4d4d;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #717171;
}

.btn-main{
  background-color: var(--primary-color);
  color: #f5f7fa;
  border:1px solid var(--primary-color);
}

.btn-main:hover{
  background-color: transparent;
  color: var(--primary-color);
  border:1px solid var(--primary-color);
}

/* Header Section CSS Start */

.header-section {
  background-color: var(--section-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.my-navbar .nav-link {
  color: #18191f;
}

.my-navbar .nav-link.active {
  font-weight: 500;
}

.my-navbar .nav-link:hover {
  color: #4caf4f;
}

.my-navbar .btn-login {
  color: var(--primary-color);
  border: none;
}

.my-navbar .btn-search {
  background-color: var(--primary-color);
  color: #f5f7fa;
  border: 1px solid #4caf4f;
}

.my-navbar .btn-search:hover {
  background-color: transparent;
  border: 1px solid #4caf4f;
  color: var(--primary-color);
}
/* Header Section CSS End */

/* Hero Section CSS Start */

.hero-section {
  background-color: var(--section-color);
  /* height: 80vh; */
}
.hero-row{
  height: 100vh;
}
.hero-content h1 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--text-color);
  line-height: 4.75rem;
}

.hero-content h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.75rem;
  color: var(--primary-color);
}

.hero-content .paragraph {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* .hero-content p {
  font-size: 1.2rem;
  color: var(--text-color);
} */
/* Hero Section CSS End */
